@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.tw_hero {
		@apply lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-7 grid items-center justify-center grid-cols-1;
	}
	.tw_btn {
		@apply bg-1 px-4 py-2 text-base text-white rounded-lg;
	}
	.call-to-action {
		@apply lg:rounded-full gap-x-8 lg:px-16 animate-bounce flex items-center justify-between w-full h-48 px-3 rounded-lg shadow-lg cursor-pointer;
	}
	.icon-wripper {
		@apply w-11 h-11 hover:shadow-xl flex items-center justify-center font-bold border-2 rounded-md cursor-pointer;
	}
	.sidebar {
		@apply h-fit place-items-center gap-y-8 grid grid-cols-1 col-span-3 px-6 py-8 border-r-4 border-black shadow-lg cursor-pointer;
	}
}

::-webkit-scrollbar {
	width: 8px;
	border-radius: 30px;
}
::-webkit-scrollbar-track {
	background: #000;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(to top, #1c3d5b, #fff);
	height: 5px;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to top, blue, white, #1c3d5b);
}

#footer {
	background: url("./assets/footer.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#hero {
	background: url("./assets/mesh-125.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
